{
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env"
                ]
            ],
            "plugins": ["rewire"],
            "retainLines": true
        }
    }
}
