.git
/.idea
node_modules
vendor
.env
.github
.opencode
*.md
_ide_helper.php
tests
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.php-cs-fixer.php
.phpunit.result.cache
.styleci.yml
phpunit.xml
docs
ssl
db
redis
app/Auth/config
app/Plugins/Custom
public/hot

