.git
/.idea
node_modules
vendor
.env
.github
*.md
_ide_helper.php
tests
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.php-cs-fixer.php
.phpunit.result.cache
.styleci.yml
docker-compose.yml
docs
jest.config.js
phpunit.xml
