/node_modules
/public/hot
/public/storage
/resources/custom
/storage
/vendor
/coverage
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.idea
package-lock.json
composer.json
package.json
cypress.config.js
/public
/db
/ssl
/storage
/tests
