# SPDX-FileCopyrightText: 2024 Technische Hochschule Mittelhessen (THM) and PILOS contributors
#
# SPDX-License-Identifier: AGPL-3.0-or-later

# Ignore artifacts:
build
coverage
lang
public
storage
composer.lock
package-lock.json
.github/skills
