// Body
$body-bg: #f8fafc;

// Typography

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #9C132E;
$orange: #F4AA00;
$yellow: #ffed4a;
$green: #80BA27;
$teal: #4dc0b5;
$cyan: #6cb2eb;


$body-color: #495057;

$link-color: $green;

$fa-font-path:        "../webfonts";

$enable-rounded: false;
