// To customize the colors, edit _variables.scss
//@import 'variables';
//@import '../../base';

//@import 'modern-normalize/modern-normalize.css';

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast

$white:    #fff !default;
$black:    #000 !default;

$min-contrast-ratio:   2.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $black !default;
$color-contrast-light:     $white !default;

// Body background
$bodyBg: #edf1f6 !default;

// Colors
$purple: #8e44ad !default;
$indigo: #6366F1 !default;
$blue: #2980b9 !default;
$cyan: #06B6D4 !default;
$red: #c0392b !default;
$orange: #d35400 !default;
$yellow: #EAB308 !default;
$green: #27ae60 !default;
$pink: #EC4899 !default;
$teal: #0b9383 !default;
$bluegray: #3a4d5d !default;

// Branding color
$primary: $teal !default;
$secondary: $bluegray !default;

// Semantic colors
$success: $green !default;
$info: $blue !default;
$warning: $orange !default;
$danger: $red !default;
$help: $purple !default;
$contrast: #020617FF !default;

$linkColor: $primary !default;

// Fonts
$fontFamily: Arial, sans-serif !default;
$fontFeatureSettings: normal !default;

@import 'app/functions';

// color
$primaryColor: $primary !default;
$primaryLightColor: tint-color($primaryColor, 20%) !default;
$primaryDarkColor: shade-color($primaryColor, 20%) !default;
$primaryDarkerColor: shade-color($primaryColor, 40%) !default;
$primaryTextColor: color-contrast($primaryColor) !default;

$highlightBg: #F0FDFA !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

$textSecondaryColor: $secondary !default;
$errorColor: $danger !default;

// borders
$enableRounded: true !default;
$borderRadius: if($enableRounded, 6px, 0) !default;

$menuitemBorderRadius: if($enableRounded, 4px, 0) !default;
$inputListItemBorderRadius: if($enableRounded, 4px, 0) !default;
$dialogBorderRadius: if($enableRounded, 8px, 0) !default;
$cardBorderRadius: if($enableRounded, 8px, 0) !default;

// password
$passwordWeakBg: $danger !default;
$passwordMediumBg: $warning !default;
$passwordStrongBg: $success !default;

// button
$secondaryButtonBg: $secondary !default;
$secondaryButtonTextColor: color-contrast($secondaryButtonBg) !default;
$secondaryButtonBorder:1px solid $secondary !default;
$secondaryButtonHoverBg: shade-color($secondary, 20%) !default;
$secondaryButtonTextHoverColor: color-contrast($secondaryButtonHoverBg) !default;
$secondaryButtonHoverBorderColor: shade-color($secondary, 20%) !default;
$secondaryButtonActiveBg: shade-color($secondary, 40%) !default;
$secondaryButtonTextActiveColor: color-contrast($secondaryButtonActiveBg) !default;
$secondaryButtonActiveBorderColor: shade-color($secondary, 40%) !default;

$infoButtonBg: $info !default;
$infoButtonTextColor: color-contrast($infoButtonBg) !default;
$infoButtonBorder:1px solid $info !default;
$infoButtonHoverBg: shade-color($info, 20%) !default;
$infoButtonTextHoverColor: color-contrast($infoButtonHoverBg) !default;
$infoButtonHoverBorderColor: shade-color($info, 20%) !default;
$infoButtonActiveBg: shade-color($info, 40%) !default;
$infoButtonTextActiveColor: color-contrast($infoButtonActiveBg) !default;
$infoButtonActiveBorderColor: shade-color($info, 40%) !default;

$successButtonBg: $success !default;
$successButtonTextColor: color-contrast($successButtonBg) !default;
$successButtonBorder:1px solid $success !default;
$successButtonHoverBg: shade-color($success, 20%) !default;
$successButtonTextHoverColor: color-contrast($successButtonHoverBg) !default;
$successButtonHoverBorderColor: shade-color($success, 20%) !default;
$successButtonActiveBg: shade-color($success, 40%) !default;
$successButtonTextActiveColor: color-contrast($successButtonActiveBg) !default;
$successButtonActiveBorderColor: shade-color($success, 40%) !default;

$warningButtonBg: $warning !default;
$warningButtonTextColor: color-contrast($warningButtonBg) !default;
$warningButtonBorder:1px solid $warning !default;
$warningButtonHoverBg: shade-color($warning, 20%) !default;
$warningButtonTextHoverColor: color-contrast($warningButtonHoverBg) !default;
$warningButtonHoverBorderColor: shade-color($warning, 20%) !default;
$warningButtonActiveBg: shade-color($warning, 40%) !default;
$warningButtonTextActiveColor: color-contrast($warningButtonActiveBg) !default;
$warningButtonActiveBorderColor: shade-color($warning, 40%) !default;

$helpButtonBg: $help !default;
$helpButtonTextColor: color-contrast($helpButtonBg) !default;
$helpButtonBorder:1px solid $help !default;
$helpButtonHoverBg: shade-color($help, 20%) !default;
$helpButtonTextHoverColor: color-contrast($helpButtonHoverBg) !default;
$helpButtonHoverBorderColor: shade-color($help, 20%) !default;
$helpButtonActiveBg: shade-color($help, 40%) !default;
$helpButtonTextActiveColor: color-contrast($helpButtonActiveBg) !default;
$helpButtonActiveBorderColor: shade-color($help, 40%) !default;

$dangerButtonBg: $danger !default;
$dangerButtonTextColor: color-contrast($dangerButtonBg) !default;
$dangerButtonBorder:1px solid $danger !default;
$dangerButtonHoverBg: shade-color($danger, 20%) !default;
$dangerButtonTextHoverColor: color-contrast($dangerButtonHoverBg) !default;
$dangerButtonHoverBorderColor: shade-color($danger, 20%) !default;
$dangerButtonActiveBg: shade-color($danger, 40%) !default;
$dangerButtonTextActiveColor: color-contrast($dangerButtonActiveBg) !default;
$dangerButtonActiveBorderColor: shade-color($danger, 40%) !default;

$contrastButtonBg: $contrast !default;
$contrastButtonTextColor: color-contrast($contrastButtonBg) !default;
$contrastButtonBorder:1px solid $contrastButtonBg !default;
$contrastButtonHoverBg: tint-color($contrast, 20%) !default;
$contrastButtonTextHoverColor: color-contrast($contrastButtonHoverBg) !default;
$contrastButtonHoverBorderColor: tint-color($contrastButtonBg, 20%) !default;
$contrastButtonActiveBg: tint-color($contrastButtonBg, 40%) !default;
$contrastButtonTextActiveColor: color-contrast($contrastButtonActiveBg) !default;
$contrastButtonActiveBorderColor: tint-color($contrastButtonBg, 40%) !default;

//severities
$infoMessageBg: rgba(tint-color($info, 90%), 0.95) !default;
$infoMessageBorder:solid tint-color($info, 50%) !default;
$infoMessageTextColor: $info !default;
$infoMessageIconColor: $infoMessageTextColor !default;

$successMessageBg: rgba(tint-color($success, 90%), 0.95) !default;
$successMessageBorder:solid tint-color($success, 50%) !default;
$successMessageTextColor: $success !default;
$successMessageIconColor: $successMessageTextColor !default;

$warningMessageBg: rgba(tint-color($warning, 90%), 0.95) !default;
$warningMessageBorder:solid tint-color($warning, 50%) !default;
$warningMessageTextColor: $warning !default;
$warningMessageIconColor: $warningMessageTextColor !default;

$errorMessageBg: rgba(tint-color($danger, 90%), 0.95) !default;
$errorMessageBorder:solid tint-color($danger, 50%) !default;
$errorMessageTextColor: $danger !default;
$errorMessageIconColor: $errorMessageTextColor !default;

$secondaryMessageBg: rgba(tint-color($secondary, 90%), 0.95) !default;
$secondaryMessageBorder:solid tint-color($secondary, 50%) !default;
$secondaryMessageTextColor: $secondary !default;
$secondaryMessageIconColor: $secondaryMessageTextColor !default;

$contrastMessageBg: $contrastButtonBg !default;
$contrastMessageBorder: solid $contrastButtonBg !default;
$contrastMessageTextColor: $contrastButtonTextColor !default;
$contrastMessageIconColor: $contrastMessageTextColor !default;

// tables
$tableCellPaddingX: 0.5rem !default;
$tableCellPaddingY: 0.5rem !default;
$tableHeaderPadding: $tableCellPaddingX $tableCellPaddingY !default;
$tableHeaderCellPadding: $tableCellPaddingX $tableCellPaddingY !default;
$tableBodyCellPadding: $tableCellPaddingX $tableCellPaddingY !default;
$tableFooterCellPadding: $tableCellPaddingX $tableCellPaddingY !default;

// PrimeVue theme variables
@import 'primevue-sass-theme/themes/aura/aura-light/_variables';

// Override PrimeVue theme variables
$colors: (
    "blue": $blue,
    "green": $green,
    "yellow": $yellow,
    "cyan": $cyan,
    "pink": $pink,
    "indigo": $indigo,
    "teal": $teal,
    "orange": $orange,
    "bluegray": $bluegray,
    "purple": $purple,
    "red": $red,
    "primary": $primaryColor
);

:root {
    --text-color-secondary: #{$textSecondaryColor};
    --surface-ground: #{$bodyBg};
    font-family: $fontFamily;
    font-feature-settings: $fontFeatureSettings;
    --font-family: $fontFamily;;
    --font-feature-settings: $fontFeatureSettings;
}

// PrimeVue base
@import 'primevue-sass-theme/theme-base/_components';

// PrimeVue theme
@import 'primevue-sass-theme/themes/aura/aura-light/extensions/extensions';

@import 'primeflex/primeflex.scss';

@import 'app/app';

// Font Awesome
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

// Vue Multi-Select
@import "vue-multiselect/dist/vue-multiselect.css";

@import "override/override";
