.p-password-input{
    width: 100%;
}

.p-fileupload-choose.p-invalid {
    //outline: $danger solid 1px;
}

.p-dropdown-clear{
    //color: $inputIconColor;
    padding: 0 0.25rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    &:hover {
        //color: $inputTextColor;
    }
}

.p-dropdown.p-dropdown-clearable .p-dropdown-label {
    //padding: $inputPadding;
}
