.p-inputswitch, .p-inputswitch-slider {
    width: 1.75rem;
    height: 1rem;
}
.p-inputswitch .p-inputswitch-slider {
    border-radius: 30px;
}
.p-inputswitch .p-inputswitch-slider:before {
    width: calc(1rem - 4px);
    height: calc(1rem - 4px);
    left: 2px;
    margin-top: calc(-0.5rem + 2px);
    border-radius: 50%;
    transition-duration: 0.2s;
}
.p-inputswitch.p-highlight .p-inputswitch-slider:before {
    transform: translateX(calc(1rem - 4px - 2px));
}
