.multiselect--disabled{

    opacity: 1;

    .multiselect__tags {
        background-color: $disabledInputBg;
    }

    .p-chip-remove-icon {
        opacity: 0.6;
    }

    .multiselect__select {
        display: none;
    }
}

.multiselect__option--highlight {
    background: $success;
    color: text-color("success");
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $danger;
    color: text-color("danger");
}


.multiselect{
    &.is-invalid .multiselect__tags {
        border-color: $inputErrorBorderColor !important;
    }

    &:focus {
        .multiselect__tags{
            outline: $focusOutline;
            outline-offset: $inputFocusOutlineOffset;
            box-shadow: $focusShadow;
            border-color: $inputFocusBorderColor;
        }
    }

    &:hover{
        .multiselect__tags {
            border-color: $inputHoverBorderColor;
        }
    }

    .multiselect__tags-wrap{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .multiselect__tags{
        border: $inputBorder;
        border-radius: $borderRadius;
        padding: $inputPadding;
    }

    .multiselect__single{
        padding: 0;
        margin: 0;
        color: $inputTextColor;
        font-size: $inputTextFontSize;
    }

    .multiselect__placeholder{
        color: $inputPlaceholderTextColor;
        font-size: $inputTextFontSize;
        padding: 0;
        margin: 0;
    }
}
