.multiselect__option {
    color: var(--p-list-option-color);
    font-size: 1rem;
}

.multiselect__option--highlight {
    background: var(--p-list-option-focus-background);
    color: var(--p-list-option-focus-color);
}

.multiselect__option--selected {
    background: var(--p-list-option-selected-background);
    color: var(--p-list-option-selected-color);
    font-weight: normal;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: var(--p-list-option-selected-focus-background);
    color: var(--p-list-option-selected-focus-color);
}

.multiselect__option--disabled {
    background: var(--p-form-field-disabled-background) !important;
    color: var(--p-form-field-disabled-color) !important;
}

.multiselect {
    &.is-invalid .multiselect__tags {
        border-color: var(--p-form-field-invalid-border-color) !important;
    }

    &:focus {
        .multiselect__tags {
            border-color: var(--p-inputtext-focus-border-color);
            box-shadow: var(--p-inputtext-focus-ring-shadow);
            outline: var(--p-inputtext-focus-ring-width)
                var(--p-inputtext-focus-ring-style)
                var(--p-inputtext-focus-ring-color);
            outline-offset: var(--p-inputtext-focus-ring-offset);
        }
    }

    &:hover {
        .multiselect__tags {
            border-color: var(--p-inputtext-hover-border-color);
        }
    }

    .multiselect__tags-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
    }

    .multiselect__tags {
        background: var(--p-form-field-background);
        border: 1px solid var(--p-inputtext-border-color);
        border-radius: var(--p-form-field-border-radius) !important;
        padding: var(--p-inputtext-padding-y) var(--p-inputtext-padding-x);

        .p-chip {
            padding-top: calc(var(--p-form-field-padding-y) / 2);
            padding-bottom: calc(var(--p-form-field-padding-y) / 2);
            border-radius: var(--p-border-radius-sm);
        }
    }

    .multiselect__content-wrapper {
        margin: 3px 0;
        background: var(--p-overlay-select-background);
        border: 1px solid var(--p-select-overlay-border-color);
        border-radius: var(--p-select-overlay-border-radius);
        box-shadow: var(--p-select-overlay-shadow);
    }

    .multiselect__single {
        padding: 0;
        margin: 0;
        background: none;
        color: var(--p-form-field-color);
        font-size: 1rem;
    }

    .multiselect__input {
        padding: 0;
        margin: 0;
        background: none;
        color: var(--p-form-field-color);
        font-size: 1rem;
        &::placeholder {
            color: var(--p-form-field-placeholder-color);
        }
    }

    .multiselect__spinner {
        border-radius: var(--p-select-overlay-border-radius);
        background: var(--p-form-field-background);
    }

    .multiselect__placeholder {
        color: var(--p-form-field-placeholder-color);
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }
}

.multiselect--disabled {
    opacity: 1;
    background: none;

    .multiselect__tags {
        background: var(--p-inputtext-disabled-background);
    }

    .multiselect__single {
        color: var(--p-inputtext-disabled-color);
    }

    .p-chip-remove-icon {
        opacity: 0.6;
    }

    .multiselect__select {
        display: none;
    }
}

.p-inputgroup > .multiselect .multiselect__tags {
    border-radius: 0 !important;
    margin: 0;
}

.p-inputgroup .multiselect:first-child .multiselect__tags {
    border-top-left-radius: var(--p-inputgroup-addon-border-radius) !important;
    border-bottom-left-radius: var(
        --p-inputgroup-addon-border-radius
    ) !important;
}

.p-inputgroup .multiselect:last-child .multiselect__tags {
    border-top-right-radius: var(--p-inputgroup-addon-border-radius) !important;
    border-bottom-right-radius: var(
        --p-inputgroup-addon-border-radius
    ) !important;
}
