.multiselect.is-invalid .multiselect__tags {
    border-color: $danger;
}

.multiselect__option--highlight {
    background: $success;
    color: text-color("success");
}

.multiselect__option--selected.multiselect__option--highlight {
    background: $danger;
    color: text-color("danger");
}

.multiselect-form-control {
    @extend .form-control;
    padding: 0;
    border: none;
    height: auto;

    .multiselect__tags {
        border-radius: 0;
        padding: 8px 40px 8px 8px;
    }

    .multiselect__single {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    .multiselect__select {
        height: 42px;
    }

    .multiselect__placeholder{
        margin-bottom: 0;
    }
}
