@include media-breakpoint-up(xs) {
    .td-max-width-0-xs {
        max-width: 0;
    }
}
@include media-breakpoint-up(sm) {
    .td-max-width-0-sm {
        max-width: 0;
    }
}
@include media-breakpoint-up(md) {
    .td-max-width-0-md {
        max-width: 0;
    }
}
@include media-breakpoint-up(lg) {
    .td-max-width-0-lg {
        max-width: 0;
    }
}
@include media-breakpoint-up(xl) {
    .td-max-width-0-xl {
        max-width: 0;
    }
}
