.p-toast-message-text {

    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .p-toast-detail {
        margin: 0;
    }
}

@media (max-width: 575px) {
    .p-toast {
        width: 100%;
        right: unset !important;
        padding: 0 10px;
    }
}
