@import "cropperjs/dist/cropper.css";

.cropper-container {
    overflow: hidden;

    img {
        display: block;

        /* This rule is very important, please don't ignore this */
        max-width: 100%;
    }

    .cropper-view-box,
    .cropper-face {
        border-radius: 50%;
    }

    .cropper-view-box {
        outline: 0;
    }

    .cropper-face {
        background-color: transparent;
        opacity: 1;
        border: 1px dashed #fff;
    }

    .cropper-line {
        display: none;
    }

    .cropper-point {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #767676;
        opacity: 1;
        width: 10px;
        height: 10px;
    }

    .cropper-point.point-n,
    .cropper-point.point-w,
    .cropper-point.point-s,
    .cropper-point.point-e,
    .cropper-point.point-se::before {
        display: none;
    }
}
