.p-menubar-mobile {
    justify-content: space-between;
    width: 100%;
}

.user-avatar {
    .p-menubar-item-link {
        @apply py-1;
    }
}

.horizontal-divider {
    li:not(:first-child):before {
        content: " | ";
    }
}

.skip-links {
    list-style: none;
}
.skip-link {
    opacity: 0;
}
.skip-link:focus {
    opacity: 1;
    background-color: white;
    padding: 0.5em;
    border: 1px solid black;
}
