/*
 * SPDX-FileCopyrightText: 2022 Technische Hochschule Mittelhessen (THM) and PILOS contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-word-break {
    overflow-wrap: anywhere;
    word-break: normal;
}
