.action-column{
    // width of the default three action buttons (view, edit, delete) + cell padding
    width: calc(3 * #{$action-column-button-width}); //TODO + 2 * #{$table-cell-padding});
}
.action-button{
    button, a {
        width: $action-column-button-width;
        height: $action-column-button-height;
    }
}
