$actionColumButtonGap: 0.5rem;
$paddingActionColumn: 1rem;

th.action-column {
    .p-column-header-content {
        justify-content: end;
    }
}

td.action-column > div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: $actionColumButtonGap;
}

.table-auto {
    table {
        table-layout: auto;

        th.id-column {
            width: 1px;
        }

        th.action-column {
            width: 1px;
        }
    }
}

@media (screen(lg)) {
    .lg\:table-fixed {
        @for $i from 2 through 6 {
            th.action-column-1 {
                width: 8rem;
            }

            th.action-column-#{$i} {
                width: calc(
                    $i *
                        var(--p-button-icon-only-width) +
                        (($i - 1) * $actionColumButtonGap) +
                        2 *
                        #{$paddingActionColumn}
                );
            }
        }

        th.id-column {
            width: 5rem;
        }
    }
}
