html {
    font-size: 14px;
}

html, body, #app, #app > .overlay-wrap {
    height: 100%;
}

body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

fieldset:not(.p-fieldset) {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
legend:not(.p-fieldset-legend) {
    float: left;
    padding: 0;
}

a {
    text-decoration: none;
}

a.link {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

a.link-color,
.link-color a{
    color: var(--p-primary-color);
}
