html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: $footer-height;
}

.footer {
    height: $footer-height;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.custom-select:disabled {
    color: $input-color;
    opacity: 1;
}
.collapsed > .when-open,
.not-collapsed > .when-closed {
    display: none;
}
