.active-menu-item {
    .p-menuitem-content {
        background: $primary;

        .p-menuitem-icon, .p-menuitem-text {
            color: $primaryTextColor;
        }
    }
}

.p-menubar .p-menuitem {
    margin: 2px 0;
}
.p-menubar .p-menuitem:first-child {
    margin-top: 2px;
}
.p-menubar .p-menuitem:last-child {
    margin-bottom: 2px;
}
