.room-icon {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    display: grid;
    place-items: center center;
    color: $white;
    font-size: 15px;
    font-weight: bold;
    @include border-radius($thumbnail-border-radius);
}

.room-card{
    pointer-events: auto;
    cursor: pointer;
}
.room-card:hover{
    background-color: darken(#FFF, 7.5%) !important;
}

.room-status {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    @if($showRoomClosedIndicator) {
        display: block;
        background-color: $red;
    }
    @else {
        display: none;
    }
}

.room-status.running {
    display: block;
    background-color: $green;
}

/* Basic editor styles */
.ProseMirror {

    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid;
    @include border-radius($thumbnail-border-radius);

    > * + * {
        margin-top: 0.75em;
    }
    img {
        max-width: 100%;
        height: auto;
        &.ProseMirror-selectednode {
            outline: 3px solid #68CEF8;
        }
    }
    blockquote {
        padding-left: 1rem;
        border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
    ul,
    ol {
        padding: 0 1rem;
    }
}

.room-description {

    img {
        max-width: 100%;
        height: auto;
    }
    blockquote {
        padding-left: 1rem;
        border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
    ul,
    ol {
        padding: 0 1rem;
    }
}

.color-picker-block {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}
