.room-details {
    &__icon{
        width: 1.5rem;
        margin-right: 0.5rem;
        flex-shrink: 0;
        text-align: center
    }

    &__text{
        flex-grow: 1;
    }
}

.room-dropdown {
    ul {
        i {
            width: 1rem;
            margin-right: 0.5rem;
            text-align: center;
        }
    }
}





/* Basic editor styles */
.ProseMirror {

    > * + * {
        margin-top: 0.75em;
    }
    img {
        max-width: 100%;
        height: auto;
        &.ProseMirror-selectednode {
            outline: 3px solid #68CEF8;
        }
    }
    blockquote {
        padding-left: 1rem;
        border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
    ul,
    ol {
        padding: 0 1rem;
    }
}

.room-description {

    img {
        max-width: 100%;
        height: auto;
    }
    blockquote {
        padding-left: 1rem;
        border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
    ul,
    ol {
        padding: 0 1rem;
    }
}

.color-picker-block {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.room-bulk-import-preview {
    overflow-y: auto;
    max-height: 200px;
}

.room-type-badge {
    white-space: normal;
    color: #FFF;
}

.room-role-badge {
    white-space: normal;
    color: #FFF;

    &.room-role-participant {
        background-color: var(--p-emerald-500);
    }

    &.room-role-moderator {
        background-color: var(--p-sky-500);
    }

    &.room-role-co-owner {
        background-color: var(--p-amber-500);
    }

    &.room-role-ro-role {
        background-color: var(--p-slate-500);
    }
}

.room-recording-access-badge {
    white-space: normal;
    color: #FFF;

    &.room-access-everyone {
        //background-color: $info;
    }

    &.room-access-participant {
        //background-color: $success;
    }

    &.room-access-moderator {
        //background-color: $danger;
    }

    &.room-access-owner {
        //background-color: $secondary;
    }
}
