.room-details {
    &__icon{
        width: 1.5rem;
        margin-right: 0.5rem;
        flex-shrink: 0;
        text-align: center
    }
    
    &__text{
        flex-grow: 1;
    }
}

.room-card{
    pointer-events: auto;
    cursor: pointer;
    
    &--running{
        border-color: $green;
        border-width: 2.5px;
    }

    &__buttons {
        z-index: 2;
        position: relative;
    
        .btn{
            margin-left: 0.25rem;
            padding: 0;
            height: 25px;
            width: 25px;
            font-size: 12px;
        }
    }
}

.room-dropdown {
    ul {
        i {
            width: 1rem;
            margin-right: 0.5rem;
            text-align: center;
        }
    }
}



.room-card:hover{
    background-color: darken(#FFF, 7.5%) !important;
}



/* Basic editor styles */
.ProseMirror {

    margin-top: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid;
    @include border-radius($thumbnail-border-radius);

    > * + * {
        margin-top: 0.75em;
    }
    img {
        max-width: 100%;
        height: auto;
        &.ProseMirror-selectednode {
            outline: 3px solid #68CEF8;
        }
    }
    blockquote {
        padding-left: 1rem;
        border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
    ul,
    ol {
        padding: 0 1rem;
    }
}

.room-description {

    img {
        max-width: 100%;
        height: auto;
    }
    blockquote {
        padding-left: 1rem;
        border-left: 3px solid rgba(#0D0D0D, 0.1);
    }
    ul,
    ol {
        padding: 0 1rem;
    }
}

.color-picker-block {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
}

.room-bulk-import-preview {
    overflow-y: auto;
    max-height: 200px;
}
