/*
 * SPDX-FileCopyrightText: 2024 Technische Hochschule Mittelhessen (THM) and PILOS contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.p-tooltip-text {
    white-space: normal;
    word-break: normal;
    overflow-wrap: break-word;
}
