// Overrides variables of app/variables and bootstrap

// Body background
$bodyBg: #edf1f6;

// Colors
$purple: #8e44ad;
$indigo: #6366F1;
$blue: #3490dc;
$cyan: #06B6D4;
$red: #9C132E;
$orange: #F4AA00;
$yellow: #EAB308;
$green: #80BA27;
$pink: #EC4899;
$teal: #0b9383;
$bluegray: #4a5c66;

// Branding color
$primary: $green;
$secondary: $bluegray;

// Semantic colors
$success: $green;
$info: $blue;
$warning: $orange;
$danger: $red;
$help: $purple;
$contrast: #020617FF;

$linkColor: $primary;

// Elements to have sharp edges
$enableRounded: false;

// Fonts
$fontFamily: "SourceSansPro", sans-serif;
$fontFeatureSettings: normal !default;


// Overwrite button color
$primaryTextColor: #FFF;
$successButtonTextColor: #FFF;

// Overwrite messages and alerts
$warningMessageBg: rgba(255, 243, 225, 0.95);
$warningMessageTextColor: #b98000 !default;

