// Overrides variables of app/variables and bootstrap

// Body background
$bodyBg: #edf1f6;

// Colors
$purple: #8e44ad;
$indigo: #6366F1;
$blue: #0e84d2;
$cyan: #06B6D4;
$red: #c0392b;
$orange: #d37f00;
$yellow: #EAB308;
$green: #27ae60;
$pink: #EC4899;
$teal: #0b8e93;
$bluegray: #3a4d5d;

// Branding color
$primary: $teal;
$secondary: $bluegray;

// Semantic colors
$success: $green;
$info: $blue;
$warning: $orange;
$danger: $red;
$help: $purple;
$contrast: #020617FF;

$linkColor: $primary;

// Elements to have rounded edges
$enableRounded: true;
