/*
 * SPDX-FileCopyrightText: 2024 Technische Hochschule Mittelhessen (THM) and PILOS contributors
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.featureSvg {
    color: var(--ifm-color-primary);
    height: 100px;
    width: 100px;
}
