name: CI

on:
  push:
  pull_request:

jobs:
  laravel-tests:
    name: Laravel (PHP ${{ matrix.php-versions }}
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:latest
        ports:
          - 3306
        env:
          MYSQL_USER: user
          MYSQL_PASSWORD: password
          MYSQL_DATABASE: test
          MYSQL_ROOT_PASSWORD: password
        options: --health-cmd="mysqladmin ping" --health-interval=5s --health-timeout=2s --health-retries=3

    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.3', '7.4']
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Verify MariaDB connection
      env:
        PORT: ${{ job.services.mariadb.ports[3306] }}
      run: |
        while ! mysqladmin ping -h"127.0.0.1" -P"$PORT" --silent; do
          sleep 1
        done
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: bcmath, ctype, fileinfo, json, mbstring, dom, ldap, pdo, tokenizer, xml, mysql, sqlite
        ini-values: pcov.directory=.,pcov.exclude="./vendor"
        coverage: pcov #optional
    - name: Copy .env
      run: php -r "copy('.env.ci', '.env');"
    - name: Get Composer Cache Directory
      id: composer-cache
      run: |
        echo "::set-output name=dir::$(composer config cache-files-dir)"
    - uses: actions/cache@v2
      with:
        path: ${{ steps.composer-cache.outputs.dir }}
        key: ${{ runner.os }}-${{ matrix.php-versions }}-composer-${{ hashFiles('**/composer.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.php-versions }}-composer-

    - name: Install php dependencies
      run: |
        composer self-update
        composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Migrate Database   
      env:
        DB_PORT: ${{ job.services.mariadb.ports[3306] }}
      run: php artisan migrate --no-interaction -vvv
    - name: Execute code style check via php-cs-fixer
      run: vendor/bin/php-cs-fixer fix --dry-run --allow-risky=yes
    - name: Install npm dependencies and cache
      uses: bahmutov/npm-install@v1
    - name: Execute frontend code style check via eslint and frontend tests
      run: npm run ci
    - name: Execute tests (Unit and Feature tests) via PHPUnit and upload coverage
      if: matrix.php-versions == '7.3'
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        DB_PORT: ${{ job.services.mariadb.ports[3306] }}
        TESTING_BBB: ${{ secrets.TESTING_BBB }}
      run: |
        vendor/bin/phpunit --coverage-clover=coverage.xml
        bash <(curl -s https://codecov.io/bash)
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      if: matrix.php-versions != '7.3'
      env:
        DB_PORT: ${{ job.services.mariadb.ports[3306] }}
        TESTING_BBB: ${{ secrets.TESTING_BBB }}
      run: vendor/bin/phpunit
