name: CI

on:
  push:
  pull_request:

jobs:
  laravel-tests:
    name: Laravel (PHP ${{ matrix.php-versions }}
    runs-on: self-hosted
    
    strategy:
      fail-fast: false
      matrix:
        php-versions: ['7.3', '7.4']
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup PHP, with composer and extensions
      uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: bcmath, ctype, fileinfo, json, mbstring, dom, ldap, pdo, tokenizer, xmlm mysql, sqlite
        coverage: xdebug #optional
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit --coverage-text
    - name: Execute code style check via php-cs-fixer
      run: vendor/bin/php-cs-fixer fix --dry-run --allow-risky=yes
    - name: Execute frontend code style check via eslint and frontend tests
      run: |
        source ~/.nvm/nvm.sh
        nvm use
        npm install
        npm run ci
